.link-social {
	height: 35px;
    padding: 0 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 40px;
    max-width: 40px;
    transition: 300ms;
	&:hover {background-color: $color_main; transform: translateY(-3px);}
}